@import "tailwindcss";

/* Light theme (default) */
:root {
  /* Brand */
  --logo-bg-color: #0C5F2F;
  --logo-bg-color-light: #17743E;
  --logo-color: #ffffff;
/*  0C5F2F   17743E */
  /* Container */
  --container-color: #ffffff;
  --container-color-in: #ECF3EF;

  /* Text */
  --text-color: #000000;
  --text-color-light: #3c3c3c;

  /* Button */
  --button-bg-color: #0C5F2F;
  --button-hover-color: #17743E;
  --button-color: #ffffff;

  /* Border color */
  --border-color: #0b2545;
}

/* Dark theme */
.dark {
  /* Brand */
  --logo-bg-color: #ffffff;
  --logo-bg-color-light: #17743E;
  --logo-color: #0C5F2F;
  /* Container */
  --container-color: #1e4a33;
  --container-color-in: #41604C;

  /* Text */
  --text-color: #ffffff;
  --text-color-light: #c0c0c0;

  /* Button */
  --button-bg-color: #ffffff;
  --button-hover-color: #d3d3d3;
  --button-color: #0C5F2F;

  /* Border color */
  --border-color: #d3d3d3;
}

/* Base styles */
body {
  background-color: var(--container-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--container-color);
}

::-webkit-scrollbar-thumb {
  background: var(--logo-bg-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--logo-bg-color-light);
}

::selection {
  color: black;
  background-color: rgba(0, 174, 239, 0.8);
}
